/* Container Gambar */
.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  /* Overlay yang muncul saat hover */
  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .image-container img:hover {
    transform: scale(1.05);
  }
  